@font-face {
    font-family: "Bowlby One";
    src: url(fonts/BPdiet.otf);
}

*{scroll-behavior: smooth;}
body{background: white;}

/*general styling*/
h1{font-family: "Bowlby One"; margin: 0px;}
input{
    border: none; outline: none;
    background-color: transparent;
    color: black;
    transition: all .4s ease;
}
input:hover{
    cursor: pointer;
    border-bottom: 2.5px solid black;
}
a{color: black;}

/*Hero section*/
.hero{
    display: flex;
    background-color: #e9e8b4;
}
.hero h1{color: #000000;}

@media screen and (max-width: 699px) {
    .hero{
        width: 95%;
        margin: 10px auto; padding: 10px 0px;
        flex-direction: column; align-items: center;
    }
    .hero img{
        height: 500px; width: 95%;
        margin: 0px auto;
        object-fit: cover;
    }
    .hero-text{
        width: 95%;
        margin: 10px auto;
    }
    .hero-text h1{
        font-size: 3.5rem;
    }
}

@media screen and (min-width: 700px) {
    .hero{
        height: 100vh; width: 98%;
        margin: 10px auto; padding: 20px 0px;
        display: flex; align-items: center; justify-content: space-evenly;
    }
    .hero img{
        height: 100%; width: 38%;
        object-fit: cover;
    }
    .hero-text{
        height: 100%; width: 58%;
        display: flex; flex-direction: column; justify-content: space-between;
    }
    .hero-text h1{
        font-family: "Bowlby One"; font-size: 8rem;
        line-height: 140px;
        margin: 100px auto 0px;
    }
}


/*invoice section*/
.invoice{
    display: flex;
    background-color: #e0d754;
}
.invoice h1{color: #7c7515;}

#invoice-preview{background-color: white;}
.invoice-header, .invoice-sub-header, .footer{
    display: flex; justify-content: space-between;
}
.tableHeader{
    display: flex; align-items: center; justify-content: space-evenly;
    background-color: black;
    color: white;
}
.saleItem{
    display: flex; align-items: center; justify-content: space-evenly; overflow: hidden;
    text-align: center;
}
.saleItem input:hover{
    border-bottom: 5px solid black;
}
.price, .quantity{text-align: center;}
.subTotal{text-align: right;}
.total-item{
    display: flex; align-items: center; justify-content: space-between;
}
#generate-invoice{
    background-color: black;
    color: white;
    border: none;
    transition: all 0.4s ease;
}
#generate-invoice:hover{
    cursor: pointer;
    transform: scale(1.05);
}

@media screen and (max-width: 699px) {
    .invoice{
        width: 95%;
        margin: 10px auto; padding: 10px 0px;
        flex-direction: column; align-items: center;
    }
    .invoice .intro{
        width: 95%;
        margin: 10px auto;
    }
    .intro h1{font-size: 3.5rem;}

    #invoice-preview{
        width: 90%;
        margin: 20px auto; padding: 10px;
    }
    .invoice-header, .invoice-sub-header{
        width: 100%;
        flex-direction: column;
    }
    .summary{
        width: 100%;
    }
    .invoice-header input,
    .invoice-sub-header input{
        height: 30px;
        width: 90%;
    }
    .profile-img,
    #order-indexing,
    .bill-to-info,
    .total-due
    {
        width: 100%;
        margin: 10px auto;
    }
    #company-logo img{
        height: 250px; width: 100%;
        object-fit: cover;
    }
    order{width: 100%;}
    .tableHeader{padding: 10px 0px;}
    #item{
        height: 30px; width: 38%;
        padding: 10px 1%;
    }
    #price, #subTotal{
        height: 30px; width: 20%;
        padding: 10px 1%;
    }
    #quantity{
        height: 30px; width: 13%;
        padding: 10px 1%;
    }
    .payment-methods{
        width: 100%;
    }
    .grand-totals{
        width: 100%;
        margin: 20px auto;
    }
    .total-item{
        height: 30px; width: 100%;
        margin: 5px auto;
    }
    #generate-invoice, .footer div{
        height: 40px; width: 30%;
    }
    #issued-by{width: 100%;}
}

@media screen and (min-width: 700px) {
    .invoice{
        width: 98%;
        margin: 10px auto; padding: 20px 0px;
        flex-direction: column;
    }

    .intro{
        width: 95%;
        margin: 10px auto;
    }
    .intro h1{
        font-size: 5rem; text-align: justify;
        line-height: 110px;
        margin: 0px;
    }
    
    #invoice-preview{
        width: 90%;
        margin: 10px auto; padding: 50px 2%;
    }
    .invoice-header, .invoice-sub-header{
        width: 100%;
        justify-content: space-between;
        margin: 20px auto;
    }
    .profile-img{width: 20%;}
    #order-indexing,
    .bill-to-info,
    .total-due,
    .payment-methods,
    .grand-totals,
    .footer button,
    .footer div
    {width: 30%;}

    #company-logo{
        height: 150px; width: 100%;
    }
    #company-logo img{
        height: 150px; width: 100%;
        object-fit: cover;
    }

    #order-indexing input,
    .bill-to-info input, 
    .payment-methods input,
    .footer input
    {
        height: 30px; width: 90%;
        margin: 1px auto; padding: 0px 5%;
    }
    #company-name{
        font-size: 1.2rem;
        font-weight: bold;
    }
    
    #order{width: 100%;}
    #order{
        margin: 1px auto;
    }
    .saleItem{
        height: 40px;
        margin: 0px auto -3px;
    }
    #item{
        height: 40px; width: 50%;
        padding: 0px 1%;
    }
    #price, #quantity, .subTotal{
        height: 40px; width: 13%;
        padding: 0px 1%;
    }

    .summary{
        width: 100%;
        margin: 0px auto;
        display: flex; justify-content: space-between;
    }

    .total-item{
        width: 100%;
        display: flex; justify-content: space-between;
    }
    .total-item p span input{
        height: 30px; width: 30px;
        padding: 0px 10px;
    }

    .footer{
        width: 95%;
        margin: 50px auto;
        display: flex; justify-content: space-between;
    }
    .footer button{height: 40px;}
}

/*receipt & estimator*/
.receipt, .estimator{
    display: flex; align-items: center; justify-content: center;
    background-color: #db8655;
    color: white; text-align: center;
}

@media screen and (max-width: 699px) {
    .receipt, .estimator{
        width: 95%;
        margin: 10px auto; padding: 50px 0px;
        font-size: 2rem;
    }
}
@media screen and (min-width: 700px) {
    .receipt, .estimator{
        width: 98%;
        margin: 10px auto; padding: 50px 0px;
        font-size: 5rem;
    }
}

#float{
    background-color: #e9e9e9;
    border: none; border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.377) 5px 5px 8px;
    font-size: 1.5rem;
}
#float:hover{
    transform: scale(1.1);
    cursor: pointer;
    transition: .5s;
}

#float-buttons{
    background-color: black;
}
#float-buttons button{
    background-color: transparent;
    border: none; border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.377) 5px 5px 8px;
    font-size: 1.3rem; color: white;
}
@media screen and (min-width: 700px) {
    #float{
        height: 70px; width: 70px;
        position: fixed;
        top: 75%; left: 90%;
    }

    #float-buttons{
        height: 10vh; width: 100vw;
        position: fixed;
        top: 90vh; left: 0vw;
    }
    #float-buttons button{
        height: 50px; width: 50px;
        margin: 5px auto;
    }

    /* From Uiverse.io by Praashoo7 */ 
.selector {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    position: fixed; top: 80%; left: 90%;
  }
  
  .up {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
  }
  
  .down {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
  }
  
  .card1 {
    height: 50px; width: 50px;
    outline: none; border: none; border-radius: 90px 5px 5px 5px;
    background: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .2s ease-in-out;
    font-size: 1.5rem; color: #545251;
  }
  
  .card1 i{
    margin-top: 2em;
    margin-left: 0.7em;
  }
  
  .card2 {
    height: 50px; width: 50px;
    outline: none; border: none;
    background: white;
    border-radius: 5px 90px 5px 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .2s ease-in-out;
  }
  
  .twitter {
    margin-top: 1.5em;
    margin-left: -.9em;
    fill: #03A9F4;
  }
  
  .card3 {
    width: 50px;
    height: 50px;
    outline: none;
    border: none;
    background: white;
    border-radius: 5px 5px 5px 90px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .2s ease-in-out;
  }
  
  .github {
    margin-top: -.6em;
    margin-left: 1.2em;
  }
  
  .card4 {
    width: 50px;
    height: 50px;
    outline: none;
    border: none;
    background: white;
    border-radius: 5px 5px 90px 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .2s ease-in-out;
  }
  
  .discord {
    margin-top: -.9em;
    margin-left: -1.2em;
    fill: #8c9eff;
  }
  
  .card1:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: #545251;
    color: white;
  }
  
  .card1:hover .instagram {
    fill: white;
  }
  
  .card2:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: #03A9F4;
  }
  
  .card2:hover .twitter {
    fill: white;
  }
  
  .card3:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: black;
  }
  
  .card3:hover .github {
    fill: white;
  }
  
  .card4:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: #8c9eff;
  }
  
  .card4:hover .discord {
    fill: white;
  }

}








